
  #nav-bar .logo {
    float: none;
    text-align: center;
  }
  
  #nav-bar ul li,
  #nav-bar ul {
    float: none;
  }
  
  #nav-bar h1 {
    padding-bottom: 10px;
  }
  
  #nav-bar ul li a {
    padding: 5px;
    border-bottom: 1px #444 dotted;
  }

  #home-info {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
  

  
  .box {
    float: none;
    width: 100%;
    height: 500px;
  }
  
  #about-info .info-right,
  #about-info .info-left {
    float: none;
    width: 100%;
  }
  
  #about-info .info-right {
    margin-top: 30px;
  }
  
  .l-heading {
    text-align: center;
  }
  
  #contact-info .box {
    border-bottom: #444 dotted 1px;
  }
  
  #showcase {
    height: 500px;
  }
  
  #showcase .showcase-content {
    padding-top: 40px;
  }
  
  #about-testimonials {
    padding-top: 40px;
  }
  
  #features {
    display: flex;
    flex-direction: column;
  }

  .info-img1 {
    display: none;
  }
  .info-img2 {
    display: none;
  }

  .info-content {
    width: 100% !important;
  }

  #home-info {
    height: 900px;
  }

  #contact-info .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #contact-info .box {
    height: 150px;
    padding: 10px;
    border-top: black 1px solid;
    width: 100%;
    padding: 15px 0px;
  }

  .infographic {
    display: flex;
  }

  @media (max-width: 650px) {
    #home-info {
      height: 1500px;
    }

    #showcase {
      height: 600px;
    }

    .box {
      height: 600px;
    }
  }

  
  

